:root {
  --clrTheme: #A3C4F3;
  --clrThemeLight: var(--clrTheme);
  --clrThemeDark: #413B3A;


  .theme-dark {
    --clrDarkIpt: #5E5555;
    --clrIpt: var(--clrDarkIpt);

    --clrDarkBorder: var(--clrThemeDark);
    --clrBorder: var(--clrDarkBorder);

    --clrDarkBg: var(--clrThemeDark);
    --clrBg: var(--clrDarkBg);
  
    --clrDarkBase: #273346;
    --clrBase: var(--clrDarkBase);

    --clrDarkBgHeader: #273346;
    --clrBgHeader: var(--clrDarkBgHeader);
  
    --clrDarkText: #FFFFFF;
    --clrText: var(--clrDarkText);

    --clrDarkNavBg: #413B3A;
    --clrNavBg: var(--clrDarkNavBg);
  }
  .theme-light {
    --clrLightIpt: #FCFCFC;
    --clrIpt: var(--clrDarkIpt);

    --clrLightBorder: var(--clrThemeLight);
    --clrBorder: var(--clrDarkBorder);

    --clrLightBg: #FFFFFF;
    --clrBg: var(--clrLightBg);
  
    --clrLightBase: var(--clrThemeLight);
    --clrBase: var(--clrLightBase);

    --clrLightBgHeader: #FFFFFF;
    --clrBgHeader: var(--clrLightBgHeader);
  
    --clrLightText: var(--clrThemeDark);
    --clrText: var(--clrLightText);

    --clrLightNavBg: #FFFFFF;
    --clrNavBg: var(--clrLightNavBg);
  }

}



