:root {
  // TODO: Fix this, im confused.
  --clrDark: #413B3A;
  --clrLight: #FFFFFF;

  --clrTheme: #A3C4F3;
  --clrPrimary: #A3C4F3;
  --clrSecondary: var(--clrLight);
  --clrTertiary: var(--clrDark);

  --clrText: var(--clrTertiary);
  --clrText1: var(--clrText);

  --clrBg: var(--clrSecondary);
  --clrBg1: var(--clrBg);

  --clrHighlight: var(--clrPrimary);
}
