#MyCouple {
  display: flex;
  flex-direction: column;
  background-color: #4DA4EA !important;

  .info-section {
    padding-top: 4rem;
    background-color: white;
    position: relative;


    .avatars {
      display: flex;
      align-items: center;
      justify-content: center;

      .MuiAvatar-root {
        border: 1px solid blue;
        background-color: white;

        &:first-child {
          margin-right: -3%;
        }

        &:last-child {
          margin-left: -3%;
        }
      }
    }

    h1 {
      text-align: center;
      color: black;
    }

    .quick-stats {
      display: flex;
      justify-content: space-evenly;

      .stat {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: black;
      }
    }

    .round-edge {
      height: 6rem;
      position: relative;
      width: 100%;
      overflow: hidden;
      margin-top: -1px;

      div {
        background-color: white;
        height: 15rem;
        width: 120%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        z-index: 0;
      }

    }
  }

  .stats-section {
    display: flex;
    flex-direction: column;
    align-items: center;


    table {
      border: 1px solid red;
      width: 80%;
      border-collapse: collapse; 
      table-layout: fixed

      td,
      th {
        text-align: center;
        border: 1px solid white;
      }
    }

    div.stats-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
      width: 80%;
      margin-top: 2rem;

      span:not(.row-title) {
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-bottom: 1px solid white;

        &:nth-child(odd) {
          border-right: 1px solid white;

        }
        &:nth-child(even) {
          
        }
        &:nth-last-child(-n+2) {
          border-bottom: none;
        }
      }

      span.row-title {
        position: absolute;
        right: -2px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3px;
        background-color: #4DA4EA;
        height: 70%;
        z-index: 1;
      }
    }

    // div.stats-grid {
    //   display: flex;
    //   flex-direction: column;
    //   width: 80%;
    //   border: 1px solid red;

    //   div.t-head {
    //     height: 5rem;
    //     width: 100%;
    //     border: 1px solid blue;
    //     display: flex;

    //     div {
    //       flex-grow: 1;
    //       flex-shrink: 0;
    //       display: flex;
    //       align-items: center;
    //       justify-content: center;
    //       &:first-child {
    //         border-right: 1px solid blue;
    //       }
    //     }
    //   }

    //   .t-body {
    //     display: flex;
    //     flex-direction: column;

    //     .t-row {
    //       display: flex;
    //       width: 100%;
    //       height: 5rem;

    //       div {
    //         flex-grow: 1;
    //         flex-shrink: 0;
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         &:first-child {
    //           border-right: 1px solid blue;
    //         }
    //       }
    //     }

    //   }
    // }
  }


}