#new-outing-page {
  display: flex;
  align-items: center;
  justify-content: center;

  #new-outing-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 32rem;
    width: 100%;
    padding: 1.2rem;
    border-radius: 0.5rem;
    border: 1px solid black;

    .MuiInputBase-root {
      margin-bottom: 1rem;
    }

    // .MuiFormControl-root {
    //   background-color: white;
    //   margin: 0.1rem 1rem;
    // }
    // button {
    // }
  }
}