#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid white;
  width: 100%;
  flex-shrink: 0;
  border-top: 1px solid red;

  @media only screen and (min-width: 768px) {
    flex-direction: column;
    width: 10rem;
    height: 100%;
    border-top: none;
    border-right: 1px solid right;
  }

  a {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    width: 100%;
    border-bottom: 1px solid white;

    &:hover {
      filter: brightness(90%);
    }
  }
}