@import 'src/styles/mixins.scss';

#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
  background-color: var(--clrSecondary);

  @include phone {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }

  @include desktop {
    flex-direction: column;
    width: 10rem;
    height: 100%;
    border-top: none;
    border-right: 1px solid var(--clrTertiary);
  }

  a {
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    width: 100%;
    color: var(--clrText1);
    border-bottom: 1px solid var(--clrTheme);

    &>svg {
      @include phone {
        font-size: 3rem;
      }
    }

    @include desktop {
      padding: 2rem;
    }

    &.active,
    &:hover {
      background-color: var(--clrTheme);
      color: var(--clrSecondary);
    }
  }
}