#Outing {
  background-color: var(--clrBg);
  padding: 0 1.6rem;

  .outing-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 6rem;
    width: 100%;
    
    h3 {
      margin: 0;
      margin-right: auto;
      font-size: 3.2rem;
    }

    button {
      margin-right: 0;
      padding-left: 0;

      svg {
        font-size: 3.5rem;
      }
    }
  }
}