#login-page {
  display: flex;
  align-items: center;
  justify-content: center;

  #login-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 23rem;
    z-index: 999;
    padding: 1.2rem;
    border-radius: 0.5rem;
    border: 1px solid black;

    .MuiInputBase-root {
      margin-bottom: 1rem;
    }
  }
}